body {
    background-color:#dddddd;
    padding: 0px;
}
header {
    background-color: rgba(30,30,30,100);
    margin: 0px;
    width:100%;
}
.logo {
    width:10%;
    display: inline;
}
h1 {
    display: inline;
    font-size: 50px;
    font-family: "Times New Roman", serif;
    color: white;
}