body {
    background-color:#dddddd;
    padding: 0px;
    margin: 0px;
}
header {
    background-color: rgba(30,30,30,100);
    margin: 0px;
    width:100%;
    padding: 5px;
}
.logo {
    width:10%;
    display: inline;
}
.upfront {
    background-color: #222222;
    width: 50%;
    height: 1000px;
    color:white;
    float: left;
}
.divpic {
    width:95%;
}
article {
    margin: 15px;
    color:black;
}
.hlink {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 5px;
}