body {
    background-color:#dddddd;
    padding: 0px;
}
header {
    background-color: blue;
    margin: 0px;
    width:100%;
}
.logo {
    width:10%;
    display: inline;
}
h1 {
    display: inline;
    font-size: 50px;
}